
@using Monster.Models
@model Monster.ViewModels.RandomMovieViewModel


@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Customers.Count > 5 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2><br />
@if (Model.Customers.Count == 0)
{
    <text>No one rented this movie before.</text>
}

else
{
    <ul>
        @foreach (var custom in Model.Customers)
        {
        <li>@custom.Name</li>
        }
    </ul>
}

